PGHOST=posgres.host.local
PGPORT=5432
PGDATABASE=datastore_databse
PGUSERNAME=datastore_user
PGPASSWORD=datastore_password

BASE_URL=http://localhost:3000

NEXT_PUBLIC_MAPTILER_API_KEY=---USE-YOUR-KEY---
NEXT_PUBLIC_API_HOST=https://www.housecatpgh.org/api

NODE_ENV=development|production

SPACERAT_HOST=http://parcelsnat.org/spacerat
