@import "tailwindcss";
@import "@wprdc/ui/styles.css";


@theme inline {
  --font-mono: var(--font-jetbrains-mono);

  --background-image-cartographer: url('/images/backgrounds/cartographer.png');
  --background-image-diagmonds: url('/images/backgrounds/diagmonds.png');
  --background-image-diagmonds-light: url('/images/backgrounds/diagmonds-light.png');
  --background-image-diagonal-striped-brick: url('/images/backgrounds/diagonal-striped-brick.png');
  --background-image-escheresque: url('/images/backgrounds/escheresque.png');
  --background-image-escheresque-dark: url('/images/backgrounds/escheresque-dark.png');
  --background-image-graphy: url('/images/backgrounds/graphy.png');
  --background-image-graphy-dark: url('/images/backgrounds/graphy-dark.png');
  --background-image-gun-metal: url('/images/backgrounds/gun-metal.png');
  --background-image-hexabump: url('/images/backgrounds/hexabump.png');
  --background-image-maze-black: url('/images/backgrounds/maze-black.png');
  --background-image-real-carbon-fibre: url('/images/backgrounds/real-carbon-fibre.png');
  --background-image-use-your-illusion: url('/images/backgrounds/use-your-illusion.png');
  --background-image-vaio: url('/images/backgrounds/vaio.png');
  --background-image-zig-zag: url('/images/backgrounds/zig-zag.png');
}

body {
  @apply font-mono;
}
a {
  @apply font-mono;
  @apply font-semibold underline decoration-2;
  @apply hover:bg-primary
}

body {
  @apply bg-background dark:bg-background-dark;
  @apply text-text dark:text-textDark;
}

input {
  @apply dark:bg-text-secondary dark:border-gray-900;
}

input::placeholder {
  @apply text-green-600;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.rendered-markdown p {
  @apply my-3;
  @apply font-sans;
  @apply text-lg leading-relaxed;
}
